%h2 Our Users
%hr/
- for user in @user do
  #userlist
    %h3
      - if logged_in?
        %a{:href => "/profiles/#{user.username}"} #{user.username.first_capitalize}
        %h3 Signed-up #{time_ago_in_words(user.created_at)} ago
        %hr{:width => "300px"}
      - else
        %h3{:style => "color: darkseagreen;"} #{user.username}
        %h3 Signed-up #{time_ago_in_words(user.created_at)} ago
        %hr{:width => "300px"}
  = paginate @user
