%h2 Latest Statuses:
%hr/
- if @latest.blank?
  %h3 Nobody has posted anything
- for status in @latest do
  #status
    #status-user
      #{gravatar_image_tag(status.email, :style => "float:left; border-radius: 3px; padding-bottom:15px;", :gravatar => { :secure => true, :default => "#{ root_url }images/default-icon.png", :size => 80 })}
      %span{:style => "float: right;"} <a href="/profiles/#{status.author}">#{status.author.first_capitalize}</a>
      %br/
      %p{:style => "float: right;"}
        <a href="/status/#{status.id}">#{time_ago_in_words(status.created_at)} Ago</a>
    #status-content
      = autolink markdown status.message
  %br/
  %br/
%h2 Latest Users:
%hr/
- if @user.blank?
  %h3 Nobody has created an account, Can you hear that echo?
- for user in @user do
  #user
    %h2
      #{gravatar_image_tag(user.email, :style => "float:left; border-radius: 3px; padding-bottom:15px;", :gravatar => { :secure => true, :default => "#{ root_url }images/default-icon.png", :size => 40 })}
      %a{:href => "/profiles/#{user.username}"}= user.username
