<h2> Running 
%span{:style => "color:orange;"}
  #{socialis_version}
</h2>
%h2 Latest Statuses:
%hr/
- for status in @latest do
  #status
    = autolink markdown status.message
    - if status.message.nil?
      %span.warning Error: Status Message is Nil!
    %br/
    %h3
      Posted By: 
      - if logged_in?
        <a href="/profiles/#{status.author}">#{status.author.first_capitalize}</a>,
        #{time_ago_in_words(status.created_at)} Ago
      - else
        #{status.author.first_capitalize}
      %br/
  %br/
%h2 Latest Users:
%hr/
- for user in @user do
  #user
    %p
      - if logged_in?
        %a{:href => "/profiles/#{user.username}"}= user.username
      - else
        = user.username
