- title "Statuses"
%h3 All Statuses:
%br/
%hr/
- for status in @status do
  #status
    = autolink markdown status.message
    - if status.message.nil?
      %span.warning Error: Status Message is Nil!
    %h3
      (Posted By: 
      - if logged_in?
        <a href= "/profiles/#{status.author}"> #{status.author.first_capitalize}</a>,
      - else
        #{status.author.first_capitalize},
      Created: #{time_ago_in_words(status.created_at)} Ago)
      %br/
      %a{:href => "/status/#{status.shorten}", :rel => "nofollow"} (View Status)
  %br/
= paginate @status_paginate
