- title "#{@status.author.first_capitalize}'s Status - Socialis"
#status
  %h3 #{@status.author.mb_chars.capitalize.to_s} Posted:
  %p
    #{autolink markdown @status.message}
    - if @status.message.nil?
      Error: Status Message is Nil!
  %br/
  %b
  - if logged_in?
    - if current_user.username == @status.author
      = "Created By You"
      %br/
      = link_to 'Delete', "#{@statusdel.id}", :confirm => 'Are you sure?', :method => :delete
      %br/
    - else
  (Created: #{time_ago_in_words(@status.created_at)} ago)
  %h4 Share:
  %input{:type =>"textbox", :value => "#{request.url}", :id => "share-box", :disabled => "disabled"}
