%h1
  #{@userl.username.first_capitalize}'s Profile
%hr/
%h3{:id => "user-image"}
  #{gravatar_image_tag(@userl.email, :gravatar => { :secure => true, :default => 'http://github.com/images/gravatars/gravatar-80.png', :size => 80 })}
  %br/
  Profile Image
%h3 Member since: #{time_ago_in_words(@userl.created_at)} ago
- if @userl.about.nil?
- else
  %h3 About #{@userl.username.first_capitalize}: 
  %p #{markdown autolink @userl.about}
%hr/
%h3 Latest Statuses:
- for status in @user_statuses do
  #status
    - if @my_lastest_statuses.nil?
    - else
      %h2 No Statuses
    = autolink markdown status.message
    %h3
      (Created: #{time_ago_in_words(status.created_at)} Ago)
    %br/
