%h1
  #{@userl.username.first_capitalize}'s Profile 
  -if logged_in?
    - if is_user?
      (This Is You)
%b
  - if logged_in?
    - if is_user?
      = link_to "Edit Profile",  edit_current_user_path
%hr/
%h3{:id => "user-image"}
  #{gravatar_image_tag(@userl.email, :gravatar => { :secure => true, :default => "#{ root_url }images/default-icon.png", :size => 80 })}
  %br/
  Profile Image
%h3 Member since: #{time_ago_in_words(@userl.created_at)} ago
- if @userl.about.blank?
- else
  %h3 About #{@userl.username.first_capitalize}: 
  %p #{markdown autolink @userl.about}
%h3 This user has: <a href="/profiles/#{@userl.username}/friends">#{@userl.friendships.length}</a> Friends
%hr/
%h3 Lastest Status:
- if @user_latest_status.blank?
  %h2 No Statuses
- for status in @user_latest_status do
  #status
    = autolink markdown status.message
    %h3
      (Created: #{time_ago_in_words(status.created_at)} Ago)
    
%h3 Statuses:
- if @user_statuses.blank?
  %h2 No Statuses
- for status in @user_statuses do
  #status
    = autolink markdown status.message
    %h3 (Created: #{time_ago_in_words(status.created_at)} Ago)

= paginate @user_statuses