%h1
  #{@userl.username.first_capitalize}'s Profile 
  -if logged_in?
    - if is_user?
      (This Is You)
%b
  - if logged_in?
    - if is_user?
      = link_to "Edit Profile",  edit_current_user_path
%hr/
%h3{:id => "user-image"}
  #{gravatar_image_tag(@userl.email, :gravatar => { :secure => true, :default => "#{ root_url }images/default-icon.png", :size => 80 })}
  %br/
  Profile Image
%h3 Member since: #{time_ago_in_words(@userl.created_at)} ago
- if @userl.website.blank?
- else
  %h3 Website:
  %p #{sanitize autolink @userl.website}
- if @userl.about.blank?
- else
  %h3 About #{@userl.username.first_capitalize}: 
  %p #{autolink markdown @userl.about}
%h3 This user has: <a href="/profiles/#{@userl.username}/friends">#{@userl.friendships.length}</a> Friends
%h3 This user has: <a href="/profiles/#{@userl.username}/statuses">#{@statuses.count}</a> Statuses
%hr/
