- title "#{@userl.username.first_capitalize} Statuses - Socialis"
%h4 <a href="#{ root_url }profiles/#{@userl.username}/">Back to #{@userl.username}'s Profile?</a>
%h1 #{@userl.username.first_capitalize}'s Statuses
%h2 Lastest Status:
- if @user_latest_status.blank?
  %h3 No Statuses
- for status in @user_latest_status do
  #status
    #status-user
      %p{:style => "float: right;"} <a href="../../status/#{status.id}">#{time_ago_in_words(status.created_at)} Ago</a>
      #{gravatar_image_tag(@userl.email, :style => "float:left; border-radius: 3px;", :gravatar => { :secure => true, :default => "#{ root_url }images/default-icon.png", :size => 80 })}
    #status-content
      = autolink markdown status.message
    
%h2 Statuses:
- if @user_statuses.blank?
  %h3 No Statuses
- for status in @user_statuses do
  #status
    #status-user
      %p{:style => "float: right;"} <a href="../../status/#{status.id}">#{time_ago_in_words(status.created_at)} Ago</a>
      #{gravatar_image_tag(@userl.email, :style => "float:left; border-radius: 3px;", :gravatar => { :secure => true, :default => "#{ root_url }images/default-icon.png", :size => 80 })}
    #status-content
      = autolink markdown status.message
= paginate @user_statuses
